<div class="main-container">
    <div class="header-main-container">
        <div class="title align-center-vertical">
            CARGOS
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-companies-positions-store-update (executeIndex)="executeIndex()" (selectRowIndexNull)="selectRowIndexNull()"></app-companies-positions-store-update>
        </div>
        <div class="col-md-8">
            <app-companies-positions-index></app-companies-positions-index>
        </div>
    </div>
</div>