<div class="modal-header">
    <h4 class="modal-title pull-left">Rol</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngClass]="{'load-page-visibility':!loadPage}">
    <div class="row">
        <div class="col-md-8 offset-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Nombre:</b> <span class="pull-right">{{ role?.name }}</span>
                </li>
                <li class="list-group-item">
                    <b>Descripción:</b> <span class="pull-right">{{ role?.description }}</span>
                </li>
                <li class="list-group-item">
                    <b>Estado:</b>
                    <div class="pull-right badge badge-success" *ngIf="role?.status == true">Habilitado</div>
                    <div class="pull-right badge badge-danger" *ngIf="role?.status == false">Deshabilitado</div>
                </li>
                <li class="list-group-item">
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Permisos:</b>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let permission of role?.permissions; let i = index">
                            {{ i + nroInitial }}. <i>{{ permission.name }}</i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="align-middle-load" *ngIf="!loadPage">
    <div class="d-inline-block">
        <app-load [txtLoad]="txtLoad"></app-load>
    </div>
</div>
<div class="modal-footer" [ngClass]="{'load-page-visibility':!loadPage}">
    <button type="button" class="btn btn-outline-danger" (click)="bsModalRef.hide()">Cerrar</button>
</div>