<div class="row">
    <div class="col-md-4">
        <h4>{{ initialState.title }}</h4>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <tabset #tabsTestComposed>
            <tab heading="Prueba" id="tab1">
                <app-tests-store-update (disabledTabTest)="disabledTabTest($event)" (activeTabTest)="activeTabTest($event)"></app-tests-store-update>
            </tab>
            <tab heading="Títulos y Parámetros">
                <app-titles-index (executeResetFormTestComposed)="resetFormTestComposed($event)"></app-titles-index>
            </tab>
        </tabset>
    </div>
</div>