<div class="main-container">
    <div class="header-main-container">
        <div class="title align-center-vertical">
            PRUEBAS COMPUESTAS
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mt-1">
            <button class="btn btn-outline-warning btn-sm btn-block"><i class="fa fa-fw fa-print"></i>Imprimir</button>
        </div>
        <div class="col-md-2 mt-1">
            <button class="btn btn-outline-danger btn-sm btn-block" (click)="finish()"><i class="fa fa-fw fa-times"></i>Terminar</button>
        </div>
    </div>
    <hr>
    <div [ngClass]="{'load-page-visibility':!loadPage}">
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Nombre:</b> <span class="pull-right">{{ testComposed?.name }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Precio:</b> <span class="pull-right">{{ testComposed?.price | number:'1.2-2':'es'}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Estudio:</b> <span class="pull-right">{{ testComposed?.study.name }}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Estado:</b>
                        <div class="pull-right badge badge-success" *ngIf="testComposed?.status == true">Habilitado</div>
                        <div class="pull-right badge badge-danger" *ngIf="testComposed?.status == false">Deshabilitado</div>
                    </li>
                    <li class="list-group-item">
                        <b>Títulos:</b>
                        <div class="alert alert-info" *ngIf="testComposed.titles.length <= 0 && loadPage">No existen Títulos</div>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="testComposed.titles.length > 0">
            <div *ngFor="let title of testComposed?.titles" class="p-1 m-2" style="border: 1px solid #c8ced3; border-top-width: 3px; border-radius: .3rem;">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <b>Título: </b> <i>{{ title.name }}</i>
                    </div>
                    <div class="col-md-12">
                        <b>Nota: </b> <i>{{ title.note }}</i>
                    </div>
                    <div class="col-md-6 mb-3">
                        <b>Estado: </b> <i>
                                        <div class="badge badge-success" *ngIf="title?.status == true">Habilitado</div>
                                        <div class="badge badge-danger" *ngIf="title?.status == false">Deshabilitado</div>
                                    </i>
                    </div>
                    <div class="col-md-6 mb-2">
                        <b>Mostrar en el Formulario:</b><i>
                                    <div class="badge badge-success" *ngIf="title?.print == true">Sí</div>
                                    <div class="badge badge-danger" *ngIf="title?.print == false">No</div>
                                </i>
                    </div>
                    <ng-container *ngIf="title.parameters.length > 0 ;then enabledParameters ;else disabledParameters"></ng-container>
                    <ng-template #enabledParameters>
                        <div class="col-md-12" *ngFor="let parameter of title.parameters">

                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td class="w-60"><b>Parámetro: </b> <i>{{ parameter.name }}</i></td>
                                    <td class="w-20"><b>Unidad: </b><span [innerHTML]="parameter.unit.display"></span></td>
                                    <td class="w-20"><b>Tipo de Dato: </b>{{ parameter.type_data |typeData }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Opciones: </b> <i>{{ parameter.options }}</i></td>
                                    <td><b>Valor por Defecto: </b>{{ parameter.default_value }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Valores de Referencia: </b> <i>{{ parameter.reference_values }}</i></td>
                                    <td><b>Estado: </b>
                                        <div class="badge badge-success" *ngIf="title?.status == true">Habilitado</div>
                                        <div class="badge badge-danger" *ngIf="title?.status == false">Deshabilitado</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ng-template>
                    <ng-template #disabledParameters>
                        <div class="col-md-12">
                            <div class="alert alert-info"><b>No existen Parámetros</b></div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="align-middle-load" *ngIf="!loadPage">
    <div class="d-inline-block">
        <app-load [txtLoad]="txtLoad"></app-load>
    </div>
</div>