<div class="row">

    <div class="col-md-4 mb-1">
        <button class="btn btn-outline-success btn-sm btn-block" (click)="showTestComplete()"><i
                class="fa fa-fw fa-eye"></i>Ver Prueba Completa</button>
    </div>
    <div class="col-md-4 mb-1">
        <button class="btn btn-outline-warning btn-sm btn-block"><i class="fa fa-fw fa-print"></i>Imprimir Prueba
            Completa</button>
    </div>
    <div class="col-md-4 mb-1">
        <button class="btn btn-outline-danger btn-sm btn-block" (click)="finish()"><i
                class="fa fa-fw fa-times"></i>Terminar</button>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
        <div class="card card-accent-info" style="min-height: 350px;">
            <div class="card-body card-personality">
                <div class="row justify-content-between">
                    <div class="col-md-4">
                        <h5>Categorías</h5>
                    </div>
                    <div class="col-md-4 col-lg-5 text-right">
                        <button type="button" class="btn btn-outline-info btn-sm" [disabled]="idTestSelected == null"
                            (click)="toUpdateCategories()"><i class="fa fa-fw fa-refresh"></i>Actualizar</button>
                        <button type="button" class="btn btn-outline-success btn-sm ml-2"
                            [disabled]="idTestSelected == null" (click)="storeCategories()"><i
                                class="fa fa-fw fa-plus"></i>Añadir</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <b>Prueba: </b>
                        <span> {{ nameTestSelected | uppercase }}</span>
                    </div>
                </div>

                <table class="table table-sm mb-0 table-hover">
                    <thead class="text-center">

                        <td>
                            Nombre
                        </td>
                        <td>
                            Mostrar
                        </td>
                        <td>
                            Nota
                        </td>
                        <td>
                            H/D
                        </td>
                        <td>
                            Acciones
                        </td>
                    </thead>
                    <ng-container *ngIf="loadCategories; then tbody; else load">
                    </ng-container>

                    <ng-template #tbody>
                        <ng-container *ngIf="categories.length > 0; then withValues; else nothingValues">
                        </ng-container>
                        <ng-template #withValues>
                            <tbody>
                                <tr *ngFor="let category of categories"
                                    [ngClass]="{'table-info': selectedRowIndex == category.id}">
                                    <td>
                                        {{ category.name }}
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="category.print; then si; else no">
                                        </ng-container>
                                        <ng-template #si>
                                            <div class="badge badge-success">Si</div>
                                        </ng-template>
                                        <ng-template #no>
                                            <div class="badge badge-danger">No</div>
                                        </ng-template>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-light btn-sm" *ngIf="category.note"
                                            popoverCategory="Nota" popover="{{category.note}}" placement="top"
                                            outsideClick="true"><i class="fa fa-fw fa-info"></i></button>
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="category.status; then habilitado; else deshabilitado">
                                        </ng-container>
                                        <ng-template #habilitado>
                                            <div class="badge badge-success">Habilitado</div>
                                        </ng-template>
                                        <ng-template #deshabilitado>
                                            <div class="badge badge-danger">Deshabilitado</div>
                                        </ng-template>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-warning btn-sm mr-1"
                                            (click)="showParameters(category)" [disabled]="disabledButtonListParameters"
                                            title="Mostrar Parámetros"><i class="fa fa-fw fa-list fa-xs"></i> </button>
                                        <button type="button" class="btn btn-info btn-sm mr-1"
                                            (click)="updateCategories(category)" title="Editar"><i
                                                class="fa fa-fw fa-edit fa-xs"></i> </button>
                                        <button type="button" class="btn btn-danger btn-sm" title="Eliminar"
                                            (click)="destroyCategories(category.id, category.name)"><i
                                                class="fa fa-fw fa-trash fa-xs"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                        <ng-template #nothingValues>
                            <tr>
                                <td colspan="8">
                                    <div class="alert alert-success">
                                        <div class="row justify-content-center">
                                            <h5>No existen categorías registradas.</h5>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </ng-template>
                    <ng-template #load>
                        <tr>
                            <td colspan="5">
                                <div class="row mt-3 justify-content-center">
                                    <app-load [txtLoad]="'Cargando Categorías'"></app-load>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <app-parameters-index (statusLoadParameteres)="statusLoadParameters($event)"></app-parameters-index>
    </div>
</div>